.icon {
  font-size: 3rem;
  margin-left: 1rem;
}

.name {
  position: relative;
  top: -0.7rem;
  margin-left: 1rem;
}

.mark {
  float: right;
  margin-top: 1rem;
  margin-right: 1rem;
}

.delete {
  float: right;
  margin-top: 1rem;
  margin-right: 1rem;
  
}