#loading {
  text-align: center;
}

.icon {
  font-size: 3rem;
  margin-left: 1rem;
}

.name {
  position: relative;
  top: -0.7rem;
  margin-left: 1rem;
}

.mark {
  float: right;
  margin-top: 1rem;
  margin-right: 1rem;
}

.markLengthened {
  float: right;
  margin-top: 1rem;
  margin-right: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.createButton {
  margin: 0;
  position: absolute;
  top: 45%;
  right: 7%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 4rem;
  padding-right: 4rem;
}
.backButton {
  margin: 0;
  position: absolute;
  top: 58%;
  right: 7%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 4.3rem;
  padding-right: 4.3rem;
}

.frequencyForm {
  margin: 0;
  position: absolute;
  top: 56%;
  right: 15%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 4.3rem;
  padding-right: 4.3rem;
  width: 15rem;
}

.activityForm {
  margin: 0;
  position: absolute;
  top: 56%;
  left: 5%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 4.3rem;
  padding-right: 4.3rem;
  width: 17rem;
}

#dropdown-basic {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 1.3rem;
}

#listGroup {
  max-width: 15rem;
}

#listGroupFormatted {
  width: 15rem;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}