.icon {
  font-size: 3rem;
  margin-left: 1rem;
}

.name {
  position: relative;
  top: -0.7rem;
  margin-left: 1rem;
}

.mark {
  float: right;
  margin-top: 1rem;
  margin-right: 1rem;
}

.markLengthened {
  float: right;
  margin-top: 1rem;
  margin-right: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

#dropdown-basic {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 1.3rem;
}