nav {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.navbar-brand {
  font-family: "Pacifico", cursive;
}

username {
  color: white;
  font-weight: bold;
}